*{margin: 0;padding:0;box-sizing: border-box;}
a{
    text-decoration: none;
    color:#373737
}
main{
    margin: auto;
    max-width: 1200px;
    padding: 100px 0;
    background-color: aliceblue;
    min-height: 100vh;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

li {
    list-style: none;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.151);
}

h2 {
    text-align: center;
    font-size: 50px;
}
